@use "sass:math";
$base: 16;
@function px-to-rem($px) {
  @return math.div($px, $base) * 1rem;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: px-to-rem(768)) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: px-to-rem(1024)) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: px-to-rem(1440)) {
      @content;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: px-to-rem(12);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  border-radius: px-to-rem(50);
  color: var(--bg-color);
  padding: px-to-rem(18);
  background-color: #fff;

  @include respond(tablet) {
    font-size: px-to-rem(14);
    padding: px-to-rem(15);
  }

  @include respond(phone) {
    font-size: px-to-rem(10);
    padding: px-to-rem(10);
    gap: px-to-rem(8);
  }
}

.icon {
  @include respond(phone) {
    width: 15px;
  }
}
