@use "sass:math";
$base: 16;
@function px-to-rem($px) {
  @return math.div($px, $base) * 1rem;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: px-to-rem(768)) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: px-to-rem(1024)) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: px-to-rem(1440)) {
      @content;
    }
  }
}

.hero {
  min-height: 100vh;
  background-image: url("../../assets/bg_hero.png");
  background-size: 100% 120%;
  background-repeat: no-repeat;

  @include respond(tablet) {
    background-size: 130% 140%;
  }

  @include respond(phone) {
    padding-top: 45px;
    background-size: 150% 100%;
    background-position: center top 72px;
    min-height: 50vh;
  }
}

.wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  @include respond(tablet) {
    height: 80vh;
  }

  @include respond(phone) {
    height: 56vh;
  }
}

.title {
  font-weight: 400;
  font-size: 86px;
  line-height: 105%;
  max-width: 650px;
  text-transform: uppercase;

  @include respond(tabler) {
    font-size: 40px;
    max-width: 450px;
  }
  @include respond(phone) {
    max-width: 300px;
    font-size: 44px;
  }
}

.description {
  font-weight: 400;
  font-size: 20px;
  margin: px-to-rem(15) 0 px-to-rem(18);
  @include respond(phone) {
    font-size: 10px;
    margin: px-to-rem(8) 0 px-to-rem(10);
  }
}
