@use "sass:math";
$base: 16;
@function px-to-rem($px) {
  @return math.div($px, $base) * 1rem;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: px-to-rem(768)) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: px-to-rem(1024)) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: px-to-rem(1440)) {
      @content;
    }
  }
}

.solutions {
  padding-bottom: px-to-rem(50);
}

.imageContainer {
  position: relative;
  width: 10px;
  height: 10px;
}

.title {
  font-weight: 700;
  font-size: px-to-rem(11);
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;

  @include respond(tablet) {
    font-size: px-to-rem(10);
  }
}

.info {
  font-weight: 300;
  font-size: px-to-rem(40);
  line-height: 120%;
  text-align: center;
  margin: 28px 0;

  @include respond(tablet) {
    font-size: px-to-rem(24);
  }

  @include respond(phone) {
    font-size: px-to-rem(18);
  }
}
.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
  justify-content: center;

  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }

  @include respond(phone) {
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
}
