@use "sass:math";
$base: 16;
@function px-to-rem($px) {
  @return math.div($px, $base) * 1rem;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: px-to-rem(768)) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: px-to-rem(1024)) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: px-to-rem(1440)) {
      @content;
    }
  }
}

.imageContainer {
  position: relative;
  width: 10px;
  height: 10px;
}

.title {
  font-weight: 700;
  font-size: px-to-rem(11);
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;

  @include respond(tablet) {
    font-size: px-to-rem(10);
  }
}

.info {
  font-weight: 300;
  font-size: px-to-rem(40);
  line-height: 120%;
  text-align: center;
  margin: 28px 0;

  @include respond(tablet) {
    font-size: px-to-rem(24);
  }

  @include respond(phone) {
    font-size: px-to-rem(18);
  }
}
