@use "sass:math";
$base: 16;
@function px-to-rem($px) {
  @return math.div($px, $base) * 1rem;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: px-to-rem(768)) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: px-to-rem(1024)) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: px-to-rem(1440)) {
      @content;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding: px-to-rem(15) 0;
  z-index: 999;
}

.logo {
  position: relative;
  display: block;
  width: px-to-rem(145);
  height: px-to-rem(58);
  z-index: 999;

  @include respond(phone) {
    width: px-to-rem(120);
    height: px-to-rem(42);
  }
}

.navItems {
  font-weight: 700;
  font-size: px-to-rem(12);
  line-height: 120%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: px-to-rem(15);
}

.navListItems {
  font-weight: 700;
  font-size: px-to-rem(12);
  line-height: 120%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: px-to-rem(25);
  text-transform: uppercase;
  & > li {
    transition: all 0.4s ease;
    &:hover {
      color: var(--info-color);
    }
  }

  @include respond(tablet) {
    gap: px-to-rem(10);
  }
}

.actions {
  display: flex;
  gap: px-to-rem(10);
  align-items: center;
  @include respond(tablet) {
  }

  @include respond(tablet) {
    display: none;
  }
}

.contact {
  transition: all 0.4s ease;
  &:hover {
    color: var(--info-color);
  }
}

.desctopList {
  display: flex;
  gap: 25px;
  @include respond(tablet) {
    display: none;
  }
}

.MobileList {
  padding-bottom: px-to-rem(100);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listContainer {
  padding: px-to-rem(100) 0 0;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(15);
  & > li {
    transition: all 0.4s ease;
    font-size: px-to-rem(16);
    &:hover {
      color: var(--info-color);
    }
  }
}

.mobileActions {
  display: none;

  @include respond(tablet) {
    display: flex;
    gap: px-to-rem(10);
    align-items: center;
  }
}
